body {
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
  grid-template-rows: 100px 5fr;
  gap: 20px;
}
header {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: space-between;
}
main {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}
.card {
  height: 200px;
  width: 300px;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  border-left: 10px solid blue;
}
